/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Oswald', sans-serif;
    margin: 0;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    background-image: linear-gradient(to right, #229962, #ffd8d0,#229962);
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

ul,
p {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

