header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2cd18c;
    font-size: 18px;
    padding: 10px;
    @media (min-width: 768px) {
        font-size: 25px;
      }
      @media (min-width: 1280px) {
        font-size: 32px;
      }
  }
a {
    color: azure;
    text-decoration: none;
    padding: 10px;
    &:hover {
        background-color: #37ac7b;
    }
  }
  .container {
    max-width: 1200;
    margin: 0 auto;
}